<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <%= @user.username %>のプロフィール
      </h1>
    </div>
  </div>
</section>
     <div class ="container">
            <div class="column">
            <article class="box media">
            <figure class="media-left">
               <p class="image is-128x128">
               <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png" %>
               </p>
            </figure>
            <div class="media-content">
               <div class="content">
                  <p><strong>名前：<%= @user.username %></strong>
                  <%if @user.id == current_user.id%>
                     <%=@user.email%>
                  <% end %>
                  <strong>
                  <% if @user.have_house == "1" %>
                  気になるメーカー：
                  <% else %>
                  オーナー：
                  <% end %>
                  <%=@user.maker_name%>
                  </strong>
                  
                  <br>プロフィール<br>
                  <br><%=@user.profile%><br>
                  </p>
                  <%if @user.id == current_user.id%>
                  <td>
                  <%= link_to edit_user_path(@user), class: "button" do %>
                  編集
                  <% end %>
                  </td>
                  <% end %>
                  <% if user_signed_in? && current_user != @user %>
                     <% if current_user.active_relationships.exists?(target_user_id: @user.id) %>
                        <%= link_to 'フォローを外す', [@user, :follow], class: "button",method: :delete %>
                     <% else %>
                        <%= link_to 'フォロー', [@user, :follow],class: "button", method: :post %>
                     <% end %>
                  <% end %>
               </div>
            </div>
         </article>
      </div>
      </main>
   </div>
   <div class ="container">
      <div class="columns is-mobile is-centered">
         <div class="tabs">
            <ul>
               <li>
                  <%= link_to "投稿", user_followers_path(@user)  %>
                  <%=@user.posts.count%>
               </li>
               <li>
                  <%= link_to "お気に入り", favorite_path(@user) %>
                  <%=@user.favorites.count%>
               </li>
               <li>
                  <%= link_to "フォロー", user_followings_path(@user)  %>
                  <%=@user.followings.count%>
               </li>
               <li>
                  <%= link_to "フォロワー", user_followers_path(@user)  %>
                  <%=@user.followers.count%>
               </li>
            </ul>
         </div>
      </div>
   </div>   
<div class ="container">
   <div class="columns is-mobile is-centered">
      <div class="column is-four-fifths">
         <div class="box">
            <div class="container">
               <h1 class="title has-text-centered mb-4">
                  <%= @user.username %>のお気に入り一覧
               </h1>
            </div>
            <% @favorites.each  do |favorite| %>
               <div class="box media mb-0 mt-0">
                  <figure class="media-left">
                     <p class="image is-32x32">
                        <%= link_to user_path(favorite.post.user_id) do %>
                           <%= attachment_image_tag favorite.post.user, :profile_image, fallback: "no-image.png" %>
                        <% end %>
                     </p>
                  </figure>
                  <div class="media-content">
                     <%= link_to user_path(favorite.post.user_id) do %>
                        <%= favorite.post.user.username %>さん：
                     <% end %>
                     <strong>
                        <%= link_to post_path(favorite.post) do %>
                           <%= favorite.post.title %>
                        <% end %>
                     </strong>
                     <% if favorite.post.image_id == nil %>
                     <% else %>
                        <%= link_to post_path(favorite.post) do %>
                           画像あり
                        <% end %>
                     <% end %>
                     <div class ="has-text-right is-size-7">
                        <%= link_to post_path(favorite.post) do %>
                           <span class="icon is-small"><i class="fas fa-reply"></i></span>
                           <%= favorite.post.comments.count %>
                        <% end %>
                        <% if user_signed_in? %> 
                           <% if current_user.already_favorited?(favorite.post)%>
                              <%= link_to post_favorites_path(favorite.post), method: :delete do %>
                                 <span style="color: #ff5252"><span style="font-size: 100%"><i class="fa fa-heart faa-wrench animated-hover"></i></span></span>
                              <% end %>
                           <% else %>
                              <%= link_to post_favorites_path(favorite.post), method: :post do %>
                                 <i class ="far fa-heart faa-wrench animated-hover"></i>
                              <% end %>
                           <% end %>
                           <%= favorite.post.favorites.count %>
                        <% else %>
                           <%= link_to post_favorites_path(favorite.post), method: :delete do %>
                              <i class ="far fa-heart faa-wrench animated-hover"></i>
                              <%= favorite.post.favorites.count %>
                           <% end %>
                        <% end %>
                        <%= link_to post_path(favorite.post) do %>
                           詳細
                        <% end %>
                        <% if current_user == favorite.post.user %>
                           <%= link_to post_path(favorite.post), method: :delete, data:{confirm: "削除しますか？"} do %>
                              削除
                           <% end %>
                        <% end %>
                        <%= favorite.post.updated_at.strftime("%Y-%m-%d %H:%M") %>投稿
                     </div>
                  </div>
               </div>
            <% end %>
         </div>
     </div>
   </div>
</div>
            