
<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">
        <%= @user.username %>のプロフィール
      </h1>
    </div>
  </div>
</section>
   <div class ="container">
            <div class="column">
            <article class="box media">
            <figure class="media-left">
               <p class="image is-128x128">
               <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png" %>
               </p>
            </figure>
            <div class="media-content">
               <div class="content">
                  <p><strong>名前：<%= @user.username %></strong>
                  <%if @user.id == current_user.id%>
                     <%=@user.email%>
                  <% end %>
                  <strong>
                  <% if @user.have_house == "1" %>
                  気になるメーカー：
                  <% else %>
                  オーナー：
                  <% end %>
                  <%=@user.maker_name%>
                  </strong>
                  
                  <br>プロフィール<br>
                  <br><%=@user.profile%><br>
                  </p>
                  <%if @user.id == current_user.id%>
                  <td>
                     <%=link_to "編集", edit_user_path(@user)%>
                  </td>
                  <% end %>
               </div>
            </div>
         </article>
      </div>
      </main>
   </div>
<% @user.posts.each do |post|%>
   <div class ="container">
         <div class="columns is-mobile is-centered">
            <div class="column is-half">
            <article class="box media">
            <figure class="media-left">
               <p class="image is-64x64">
               <%= attachment_image_tag @user, :profile_image, fallback: "no-image.png" %>
               </p>
            </figure>
            <div class="media-content">
               <div class="content">
                  <p><strong><%= @user.username %></strong>
                  <%= post.updated_at.strftime("%Y-%m-%d %H:%M") %>投稿
                  <br><%= post.body%><br>
                  <nav class="level is-mobile mb-2">
                  <div class="level-left">
                     <a class="level-item">
                     <%= link_to post_path(post) do %>
                        <span class="icon is-small"><i class="fas fa-reply"></i></span>
                        <%= post.comments.count %>
                        <% end %>
                     </a>
                     <a class="level-item">
                        <% if user_signed_in? %> 
                        <% if current_user.already_favorited?(post)%>
                           <%= link_to post_favorites_path(post), method: :delete do %>
                           <span style="color: #ff5252"><span style="font-size: 100%"><i class="fa fa-heart faa-wrench animated-hover"></i></span></span>
                           <% end %>
                        <% else %>
                           <%= link_to post_favorites_path(post), method: :post do %>
                              <i class ="far fa-heart faa-wrench animated-hover"></i>
                           <% end %>
                        <% end %>
                        <%= post.favorites.count %>
                        <% else %>
                        <%= link_to post_favorites_path(post), method: :delete do %>
                        <i class ="far fa-heart faa-wrench animated-hover"></i>
                        <%= post.favorites.count %>
                        <% end %>
                        <% end %>
                     </a>
                  </div>
                  </nav>
                     <div class ="has-text-right">
                        <%= link_to post_path(post) do %>
                        詳細
                        <% end %>
                     <% if current_user == post.user %>
                        <%= link_to post_path(post), method: :delete, data:{confirm: "削除しますか？"} do %>
                        削除
                        <% end %>
                     <% end %>
                     </div>
                  </p>
               </div>
            </div>
         </article>
      </div>
      </main>
   </div>
<% end %>



