
<div class="main-container">
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-10">
        <h4 class="is-size-1 has-text-weight-bold has-text-centered mt-6">
        House Review
        <p class="is-size-3 has-text-weight-bold has-text-centered mt-1 mb-1">一生に一回のお買い物を失敗のないために</p></h4>
        <br>
          <div class="columns is-centered">
            <div class="column is-4">
              <div class="box">
                <% if user_signed_in? %>
                  <%= link_to "ハウスメーカー一覧", house_makers_path, class: "button is-fullwidth" %>
                  <br>    
                  <%= link_to destroy_user_session_path, method: :delete, class: "button is-fullwidth" do %>
                      ログアウト
                    <% end %>
                <% else %>
                  <%= link_to "ログイン", new_user_session_path, class: "button is-fullwidth" %>
                  <br>
                  <%= link_to "新規登録", new_user_registration_path, class: "button is-fullwidth" %>
                   <br>
                   <%= link_to 'ゲストログイン（閲覧用）', homes_guest_sign_in_path, method: :post ,class: "button is-warning"%>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
git 練習
コミット2回目
ブランチの練習です







