
<section class="section mt-6">
  <div class="container">
    <div class="columns is-mobile is-centered">
      <div class="column is-half">
        <div class="card">
          <header class="card-header">
            <p class="card-header-title is-centered">
              <%= @house_maker.name %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @house_maker.review_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @house_maker.avg_score %>点（<%= @house_maker.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<section class="section">
  <div class="container">
    <div class="columns is-multiline is-mobile is-centered ">
      <% @reviews.each do |review| %>
        <div class="column is-four-fifths">
          <p class="card-header-title">
            <div class="card mb-6">
              <header class="card-header">
                <p class="card-header-title is-centered">
                <%= link_to user_path(review.user_id) do %>
                  <%= review.user.username %>さん
                <% end %>
                </p>
                <div class ="has-text-right">
                  <p class="card-header-title ">
                  評価：<%= review.score %>点
                  </p>
                </div>
                <div class="star-rating mt-1 ">
                  <div class="star-rating-front" style="width: <%= review.score * 20 %>%">★★★★★</div>
                  <div class="star-rating-back">★★★★★</div>
                </div>
                <p class="card-header-title is-centered">
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <div class="content average-score">
                    <div class="card-header-title is-centered">
                     <%= review.content %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</section>
<div class="columns is-mobile is-centered">
  <%= link_to "一覧に戻る", house_makers_path, class: "button mb-6" %>
</div>
<div class="columns is-mobile is-centered">
  <%= link_to house_maker_path(@house_maker), class: "button mb-6" do %>
  <%=@house_maker.name%>のレビューを書く
  <% end %>
</div>

